<h1>商品一覧</h1>

<% @items.each do |item| %>

  <p>商品名</p>
  <span><%= link_to item.name, admin_item_path(item.id) %></span>
  
  <p>イメージ</p>
  <% if item.image.attached? %>
    <%= link_to image_tag item.image, size: "50x50" %>
  <% else %>
    <%= link_to image_tag("no_image.jpeg"), admin_item_path(item.id) %>
  <% end %>
  
<% end %>
<br>
<br>
<br>
<%= link_to "新規登録", new_admin_item_path, method: :get %>