<h1>商品一覧</h1>

<% @items.each do |item| %>

  <p>商品名</p>
  <span><%= link_to item.name, public_item_path(item.id) %></span>
  
  <p>イメージ</p>
    <%= link_to public_item_path(item.id)  do %>
    <%= image_tag item.get_item_image(100,100) %>
  <% end %>
  
<br>
<br>
<br>
  
<% end %>